
<!DOCTYPE html>
<meta charset="UTF-8">
<title>土狗 - 听说你还一个人？</title>
<meta name="keywords" content="土狗,单身,一只狗,doge,汪汪汪">
<meta name="description" content="汪汪汪">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta id="视口设置" name="viewport" content="width=620">
<link rel="stylesheet" href="css/ui.css">
<link id="收藏图标" href="favicon.ico" rel="shortcut icon">

<div id="弹幕框"></div>
<form id="表单" class="">
	<input autocomplete="off" name="文本框" maxlength="100" placeholder="我他喵变成狗了！！！">
</form>
<script src="js/ui.js"></script>
